@page
@model E_Commerce.Pages.MyAccountModel
@{
    Layout = "_Layout";
}

<h1>Welcome to your account page, @Model.User.Identity.Name!</h1>

<h3>Here are some items especially curated for you:</h3>



<a asp-page="Search">Search For Books</a>
<a href ="/">Home</a>

